{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="pistonupdates" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_pistonupdates request.user.tenant as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {%include "_page_header.html" with title="PentOS Update" refresh_link=refresh_link %}
{% endblock page_header %}

{% block dash_main %}
<div>
<h2>Piston PentOS Version {{pentos.version}} - {{pentos.release_title}}</h2>

<h2>Summary:</h2>
<p>
Version: {{pentos.version}}<br/>
Release Title: {{pentos.release_title}}<br/>
Download UIR: {{pentos.uri}}<br/>
Download Checksum: {{pentos.checksum}}<br/>
Release Notes: {{pentos.notes}}<br/>
Release Date: {{pentos.release_date}}<br/>
</p>
<br/>
<p>
  <form action="" method="post">{% csrf_token %}
    <input name="pentos_uri" type="hidden" value="{{pentos.uri}}" />
    <input name="pentos_checksum" type="hidden" value="{{pentos.checksum}}" />
    <input type="submit" value="Activate Installation Process" name="submit" />
  </form>
</p>
{% endblock %}
