<!DOCTYPE html>
{% load branding %}
<html lang="en" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% site_branding %} Login</title>
    <script charset='utf-8' src='/media/dashboard/js/jquery.min.js' type='text/javascript'></script>
    <link href='{{ STATIC_URL }}dashboard/css/style.css' media='screen' rel='stylesheet' />
  </head>
  <body id="standalone">
    <div id="login_wrapper">
      <div class='large-rounded' id='login'>
        {% include "_messages.html" %}
        {% include '_login.html' %}
        <ul id='alternate_links'>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="clear"></div>
      </div>
      <div id="built_on_openstack_wrapper">
      </div>
    </div>
  </body>
</html>
